BODY{font:400 62.5% Georgia,'Times New Roman',serif;padding:0;background-color:#fff}*{margin:0;padding:0;line-height:1.5}a{text-decoration:none;display:block;color:#333}a.sponlist-wrap
P{font-size:13px;margin:0
0 1.1em;color:#333}a.sponlist-wrap
img{float:left;margin:0
19px 12px 0;border:3px
solid #ccc;display:block;border-color:#FFF;-moz-box-shadow:0 0 5px 0 #ccc;-webkit-box-shadow:0 0 5px 0 #ccc;box-shadow:0 0 5px 0 #ccc}a.sponlist-wrap
.subhead{display:block;font-size:13px;color:#2ba2d4;font-style:italic;margin-bottom:1em}.ad170 a P,.ad345 a P,.ad710 a P,.horiz-ad a P,.vert-ad a
P{font-size:13px;margin:0
0 1.1em;color:#333}.ad170 a img,.ad345 a img,.ad710 a img,.horiz-ad a img,.vert-ad a
img{border:3px
solid #ccc;display:block;border-color:#FFF;-moz-box-shadow:0 0 5px 0 #ccc;-webkit-box-shadow:0 0 5px 0 #ccc;box-shadow:0 0 5px 0 #ccc}.ad170 p.a-more,.ad345 p.a-more,.ad710 p.a-more,.horiz-ad p.a-more,.vert-ad p.a-more{color:#cd2b3a;font-family:Arial,sans-serif;font-size:10px!important;font-weight:700!important;text-transform:uppercase!important}.ad170 p.a-more:hover,.ad345 p.a-more:hover,.ad710 p.a-more:hover,.horiz-ad p.a-more:hover,.vert-ad p.a-more:hover{text-decoration:underline}.ad345 a P,.ad710 a P,.horiz-ad a
P{font-size:13px;margin:0
0 1.1em;color:#333}.ad345 a img,.ad710 a img,.horiz-ad a
img{float:left;margin:0
19px 12px 0}.sidestack-wrap
img{float:none;margin:5px
auto}.sidestack-wrap .a-more{text-align:right}.ad170 a img,.sidestack-wrap a
img{float:none;margin:5px
auto}.ad170 .a-more,.sidestack-wrap .a-more{text-align:right}.spacer{clear:both;height:1px;line-height:1px;visibility:hidden}.ad710 .wrap,.sponlist-wrap{padding:10px
0 0 14px;background:#eef9fe!important;margin-top:3px;margin-bottom:3px;border:0}.gamma{color:#cd2b3a;font-size:18px;font-weight:400}.gamma:hover{color:#7f000c;text-decoration:underline}.subhead{display:block;font-size:13px;color:#2ba2d4;font-style:italic;margin-bottom:1em}.zeta{color:#cd2b3a;font-family:Arial,sans-serif;font-size:13px;font-weight:400;line-height:1.1;margin-bottom:.4em}.zeta:hover{color:#7f000c;text-decoration:underline}.delta{color:#3a3a3a;font-size:15px;font-weight:700;line-height:1.3;margin-bottom:.2em}.a-more{color:#cd2b3a;font-family:Arial,sans-serif;font-size:10px!important;font-weight:700!important;text-transform:uppercase!important}.a-more:hover{text-decoration:underline}.ad710 a IMG,a.sponlist-wrap
IMG{border:0}.ad710 a .button,a.sponlist-wrap
.button{margin-bottom:10px;padding:3px!important;background:#eee;display:block;-moz-border-radius:3px;border-radius:3px;background-image:none!important;text-decoration:none!important;font-size:10px;font-family:Arial,Helvetica,sans-serif;line-height:12px;text-transform:uppercase;font-weight:400}.ad710 a .button.right,a.sponlist-wrap
.button.right{float:right;margin-right:15px}.ad710 a .button.left,a.sponlist-wrap
.button.left{float:left}.ad710 a .button,a.sponlist-wrap
.button{cursor:pointer}.ad710 a .button SPAN,a.sponlist-wrap .button
SPAN{padding:0!important;display:block!important;border-radius:2px;background-image:url(/m/btn/mbtn.png)!important;background-repeat:repeat-x!important;background-position-y:0!important;color:#FFF!important;text-decoration:none;height:30px}.ad710 a .button SPAN B,a.sponlist-wrap .button SPAN
B{display:block!important;padding:6px
20px 0 10px;font-weight:400;background:url(/m/btn/btna.png) right top no-repeat}.ad710 a .button.aleft SPAN B,a.sponlist-wrap .button.aleft SPAN
B{background:url(/m/btn/btnaleft.png) left top no-repeat;padding:6px
10px 0 20px}.ad710 a .ad710 a IMG,.ad710 a a.sponlist-wrap IMG,a.sponlist-wrap .ad710 a IMG,a.sponlist-wrap a.sponlist-wrap
IMG{border:0}.ad710 a .ad710 a .button,.ad710 a a.sponlist-wrap .button,a.sponlist-wrap .ad710 a .button,a.sponlist-wrap a.sponlist-wrap
.button{background:#FFF}.ad710 a .ad710 a .button SPAN,.ad710 a a.sponlist-wrap .button SPAN,a.sponlist-wrap .ad710 a .button SPAN,a.sponlist-wrap a.sponlist-wrap .button
SPAN{height:30px;background-image:url(/m/btn/mbtn.png)!important}.ad710 a .ad710 a .button SPAN B,.ad710 a a.sponlist-wrap .button SPAN B,a.sponlist-wrap .ad710 a .button SPAN B,a.sponlist-wrap a.sponlist-wrap .button SPAN
B{padding:8px
20px 0 15px;font-size:12px;line-height:13px;background:url(/m/btn/mbtna.png) right top no-repeat}.ad710 a .ad710 a .button SPAN B,.ad710 a a.sponlist-wrap .button SPAN B,a.sponlist-wrap .ad710 a .button SPAN B,a.sponlist-wrap a.sponlist-wrap .button SPAN
B{padding:8px
20px 0 15px;font-size:12px;line-height:13px;background:url(/m/btn/mbtna.png) right top no-repeat}.ad710 a .ad710 a .button:hover SPAN,.ad710 a a.sponlist-wrap .button:hover SPAN,a.sponlist-wrap .ad710 a .button:hover SPAN,a.sponlist-wrap a.sponlist-wrap .button:hover
SPAN{background-position-y:-30px!important;text-decoration:none}.ad710 a .ad710 a .button:active SPAN B,.ad710 a a.sponlist-wrap .button:active SPAN B,a.sponlist-wrap .ad710 a .button:active SPAN B,a.sponlist-wrap a.sponlist-wrap .button:active SPAN
B{padding-top:9px;background-position-y:0!important}.ad710 a .button SPAN B,a.sponlist-wrap .button SPAN
B{padding:8px
20px 0 15px;font-size:12px;line-height:13px;background:url(/m/btn/mbtna.png) right top no-repeat}.ad710 a .button:hover SPAN,a.sponlist-wrap .button:hover
SPAN{background-position-y:-30px!important;text-decoration:none}.ad710 a .button:active SPAN B,a.sponlist-wrap .button:active SPAN
B{padding-top:9px;background-position-y:0!important}.ad170,.ad345,.home-ad,.horiz-ad,.vert-ad{background:#ece8df;border:1px
solid #d5cdc3}.ad170,.vert-ad{height:283px;width:168px}.ad170 img,.vert-ad
img{float:none;margin:5px
auto}.ad170 .a-more,.vert-ad .a-more{text-align:right}.ad170 .delta,.ad345 .delta,.horiz-ad .delta,.vert-ad
.delta{margin-bottom:0;padding:0
5px;font-size:13px}.ad170 .zeta,.ad345 .zeta,.horiz-ad .zeta,.vert-ad
.zeta{margin-bottom:0;padding:0
5px;font-size:12px;line-height:1.3}.ad170 a P,.ad345 a P,.horiz-ad a P,.vert-ad a
P{font-size:12px;line-height:1.1;padding:3px
5px;margin:0}.ad345 .delta,.horiz-ad
.delta{margin-top:2px}.ad170 a P,.vert-ad a
P{padding-right:2px}.ad345,.horiz-ad{padding-top:5px}.ad345 a p,.horiz-ad a
p{line-height:1.25}.ad345 a img,.horiz-ad a
img{margin:1px
7px 10px 5px}.ad170,.ad345,.home-ad,.horiz-ad,.vert-ad{margin:0}div.button{width:108px}.vert-ad .sidestack-wrap{padding-left:0!important;padding-right:0!important}#cycler>div{z-index:1}#cycler>div.active{z-index:3}.ad710
.wrap{background:#eef9fe}#cycler{border:0;display:block;color:#333}#cycler
.wrap{position:absolute;font-size:14px;line-height:18px;cursor:pointer}#cycler
.head{color:#d12c30;font-weight:700;margin-top:5px}#cycler
.body{font-size:13px}#cycler
.cta{background:#d12c30;font-family:arial;text-transform:uppercase;color:#FFF;font-size:12px;font-weight:400;line-height:14px;padding:4px
15px;position:absolute;bottom:0;right:10px;letter-spacing:1px;margin:0}#cycler .cta:hover{background:#f62e33}#cycler,#cycler:hover{text-decoration:none}#cycler .body,#cycler
.head{padding:0
7px}#cycler
p{margin:3px
0}#cycler>div{z-index:1}#cycler>div.active{z-index:3}#cycler{border:0;display:block;color:#333}#cycler .ad170 .wrap,#cycler .ad345
.wrap{background:#ece8df}#cycler,#cycler:hover{text-decoration:none}#cycler
p{font-size:12px;line-height:1.1;padding:3px
5px;margin:0}#cycler
.wrap{position:absolute;background:#ebebeb;height:100%;width:100%;font-size:14px;line-height:18px;cursor:pointer}#cycler
.head{color:#d12c30;font-weight:700;margin-top:5px;display:block;padding-bottom:4px;font-size:14px}#cycler
.body{font-size:13px}#cycler .body,#cycler
.head{padding-left:7px;padding-right:7px}body
a#cycler{display:block}.cta{background:#d12c30;font-family:arial;text-transform:uppercase;color:#FFF;font-size:12px;font-weight:400;line-height:14px;padding:3px
12px;position:absolute;bottom:0;right:10px;letter-spacing:1px;margin:0}.cta:hover{background:#f62e33}.ad710 #cycler
.wrap{background:#eef9fe}.ad710 #cycler
p{font-size:13px;margin:0
0 1.1em;color:#333;line-height:1.5}.ad710 #cycler
p.subhead{display:block;font-size:13px;color:#2ba2d4;font-style:italic;padding-left:0;margin-bottom:1em}body.ad345{height:142px}.cta{display:block}.ad170 a#cycler .cta,.ad345 a#cycler
.cta{text-align:right;background:0 0;color:#cd2b3a!important;font-family:Arial,sans-serif;font-size:10px!important;font-weight:700!important;text-transform:uppercase!important;margin:0
5px;letter-spacing:0;padding:0;position:static}.ad170 a#cycler .cta:hover,.ad345 a#cycler .cta:hover{text-decoration:underline}.ad300 a#cycler
.cta{background:#d12c30;font-family:arial;text-transform:uppercase;color:#FFF;font-size:12px;font-weight:400;line-height:14px;padding:3px
12px;position:absolute;bottom:0;right:10px;letter-spacing:1px;margin:0}.ad300 a#cycler .cta:hover{background:#f62e33}.ad170,.ad300,.ad345,.ad710{margin:0;padding:0}.ad170 iframe,.ad300 iframe,.ad345 iframe,.ad710
iframe{border:0}.adrotate
.wrap{padding:0}.ad170
a#cycler{padding-left:0!important;padding-right:0!important}.ad170 a#cycler
.wrap{width:168px;height:283px;background:#ece8df}.ad170 a#cycler
img{width:121px;height:121px}.ad170 a#cycler
p.head{color:#3a3a3a;font-size:15px;font-weight:700;line-height:1.3;margin-bottom:.2em}.ad170 a#cycler
p.sub{display:block;color:#cd2b3a;font-family:Arial,sans-serif;font-size:13px;font-weight:400;line-height:1.1;margin-bottom:.4em}.ad170 a#cycler p.head,.ad170 a#cycler
p.sub{margin-bottom:0;padding:0
5px;font-size:12px;line-height:1.2}.ad170 a#cycler
p.sub{margin-top:2px}.ad170 a#cycler p.sub:hover{color:#7f000c;text-decoration:underline}.ad170 a#cycler
p.body{padding:3px
5px;font-size:12px;line-height:1.1;margin:0}.ad300 a#cycler
p.head{padding-bottom:3px}.ad300 a#cycler
p.sub{display:block;color:#cd2b3a;font-family:Arial,sans-serif;font-size:13px;font-weight:400;line-height:1.1;margin-bottom:.4em;padding:0;padding-left:7px;font-size:12px;line-height:12px;margin-bottom:2px}.ad300 a#cycler
p.body{font-size:12px;line-height:14px}.ad300 a#cycler
.wrap{width:300px;height:250px}.ad300 a#cycler
img{width:300px;height:145px}.ad300 a#cycler.img300
.wrap{width:300px;height:250px}.ad300 a#cycler.img300
img{width:300px;height:250px}.ad300 a#cycler.img300
p{display:none}.ad345 a#cycler
.wrap{width:343px;height:138px;background:#ece8df}.ad345 a#cycler .wrap
img{width:121px;height:121px;margin-top:0}.ad345 a#cycler .wrap
p.head{color:#3a3a3a;font-size:15px;font-weight:700;line-height:1.3;margin-bottom:.2em;font-size:13px!important;padding-top:5px;margin-top:5px}.ad345 a#cycler .wrap
p.sub{display:block;color:#cd2b3a;font-family:Arial,sans-serif;font-size:13px;font-weight:400;line-height:1.1;margin-bottom:.4em}.ad345 a#cycler .wrap p.head,.ad345 a#cycler .wrap
p.sub{margin-bottom:0;padding:0
5px;font-size:12px;line-height:1.2}.ad345 a#cycler .wrap
p.sub{margin-top:2px}.ad345 a#cycler .wrap p.sub:hover{color:#7f000c;text-decoration:underline}.ad345 a#cycler .wrap
p.body{padding:3px
5px;font-size:12px;line-height:1.1;margin:0}.ad345 a#cycler .wrap
.cta{text-align:left;letter-spacing:0;padding:0}.ad710 a#cycler
.wrap{width:710px;height:200px}.ad710 a#cycler .wrap
.adpad{padding:10px
15px 0 14px}.ad710 a#cycler .wrap
img{width:115px;height:115px;position:absolute;bottom:10px;left:15px}.ad710 a#cycler .wrap
p.head{color:#cd2b3a;font-size:18px;font-weight:400;font-size:18px!important;margin:0;padding:0;padding-left:0!important}.ad710 a#cycler .wrap
p.sub{display:block;font-size:13px;color:#2ba2d4;font-style:italic;padding-left:0;margin-bottom:1em;margin:0
0 1.1em;padding-left:0!important;margin-top:6px}.ad710 a#cycler .wrap p.head,.ad710 a#cycler .wrap
p.sub{margin-bottom:0;padding:0
5px;font-size:12px;line-height:1.2}.ad710 a#cycler .wrap
p.sub{margin-top:4px}.ad710 a#cycler .wrap p.head:hover{color:#7f000c;text-decoration:underline}.ad710 a#cycler .wrap
p.body{margin-left:130px;margin-top:15px}.ad710 a#cycler .wrap
.cta{letter-spacing:0;padding:0;position:static}a#cycler .cta
span{display:block}a#cycler .cta span
b{font-weight:400}.ad710 a#cycler
.cta{float:right;margin-right:15px;display:block;background:#fff;margin-bottom:10px;padding:3px;-moz-border-radius:3px;border-radius:3px;background-image:none;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;line-height:12px;text-transform:uppercase;font-weight:400}.ad710 a#cycler .cta
SPAN{height:30px;padding:0;display:block;border-radius:2px;background-image:url(/m/btn/mbtn.png);background-repeat:repeat-x;background-position-y:0;color:#FFF;text-decoration:none}.ad710 a#cycler .cta SPAN
B{display:block;font-weight:400;font-size:12px;line-height:13px;padding:8px
20px 0 15px;background:url(/m/btn/mbtna.png) right top no-repeat}.ad710 a#cycler .cta:hover
SPAN{background-position-y:-30px;text-decoration:none}.ad710 a#cycler .cta:active SPAN
B{padding-top:9px;background-position-y:0}